
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<!--Description of sorts-->
<p>We sell instruments</p>

<!--Column for Trumpet, Tuba, and Flute-->
<div class="row">
    <!--Trumpet-->
    <div class="col-md-4">
        <h3>Trumpet</h3>
        <a href="@Url.Action("Trumpet","Home")">
            <img src="~/Content/Images/trumpet.jpg" class="img-responsive" />
        </a>
    </div>
    <!--Trombone-->
    <div class="col-md-4">
        <h3>Trombone</h3>
        <a href="@Url.Action("Trombone","Home")">
            <img src="~/Content/Images/trombone.jpg" class="img-responsive" />
        </a>
    </div>
    <!--Tuba-->
    <div class="col-md-4">
        <h3>Tuba</h3>
        <a href="@Url.Action("Tuba","Home")">
            <img src="~/Content/Images/tuba.jpg" class="img-responsive" />
        </a>
    </div>
</div>

<!--Column for Flute, Clarinet, and Saxophone-->
<div class="row">
    <!--Flute-->
    <div class="col-md-4">
        <h3>Flute</h3>
        <a href="@Url.Action("Flute", "Home")">
            <img src="~/Content/Images/flute.jpg" class="img-responsive" />
        </a>
    </div>
    <!--Clarinet-->
    <div class="col-md-4">
        <h3>Clarinet</h3>
        <a href="@Url.Action("Clarinet", "Home")">
            <img src="~/Content/Images/clarinet.jpg" class="img-responsive" />
        </a>
    </div>
    <!--Saxophone-->
    <div class="col-md-4">
        <h3>Saxophone</h3>
        <a href="@Url.Action("Saxophone", "Home")">
            <img src="~/Content/Images/sax.jpg" class="img-responsive" />
        </a>
    </div>
</div>

 <br /> <br /> <br />
<!--FOOTER Text-->
<div class="row">
    <div class="col-md-12">
        <pre>
            Once 18 months has been achieved, the client owns the instrument. <br />
            If they return it at any time before 3 months, there will be a $200 re-stocking fee. <br />
            If they return it after 3 months they forfeit any equity in the instrument.
        </pre>
    </div>
</div>

