
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<p>We sell instruments</p>

<div class="row" style ="height: 250px">
    <div class="col-sm-6">
        <p>Trumpet</p>
        <a href="@Url.Action("Trumpet", "Home")"><img src="~/Content/Images/trumpet.jpg" class="img-responsive" /></a>
        
    </div>
    <div class="col-sm-6">
        <p>Trombone</p>
        <a href="@Url.Action("Trombone", "Home")"><img src="~/Content/Images/trombone.jpg" class="img-responsive" /></a>

</div>
    
</div>

<div class="row" style="height: 250px">
    <div class="col-sm-6">
        <p>Tuba</p>
        <a href="@Url.Action("Tuba", "Home")"><img src="~/Content/Images/tuba.jpg" class="img-responsive" /></a>
</div>
    <div class="col-sm-6">
        <p>Flute</p>
        <a href="@Url.Action("Flute", "Home")"><img src="~/Content/Images/flute.jpg" class="img-responsive" /></a>
</div>
</div>

<div class="row">
    
    <div class="col-sm-6">
        <p>Clarinet</p>
        <a href="@Url.Action("Clarinet", "Home")"><img src="~/Content/Images/clarinet.jpg" class="img-responsive" /></a>

</div>
    <div class="col-sm-6">
        <p>Saxophone</p>
        <a href="@Url.Action("Saxophone", "Home")"><img src="~/Content/Images/sax.jpg" class="img-responsive" /></a>

</div>
</div>

